<?xml version="1.0" encoding="utf-8"?>
<!-- CS478 Project 5: Services -->
<!-- Name:   Shyam Patel       -->
<!-- NetID:  spate54           -->
<!-- Date:   Dec 9, 2019       -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proj5.services.ClipServer">
    <permission
        android:name="com.proj5.services.ClipServer.MEDIA_PLAYBACK" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <service
            android:exported="true"
            android:name=".MediaPlaybackService"
            android:permission="com.proj5.services.ClipServer.MEDIA_PLAYBACK">
            <intent-filter>
                <action android:name="com.proj5.services.MediaPlaybackCommon.Interface" />
            </intent-filter>
        </service>
    </application>
</manifest>
